$primary-font:'Inter', sans-serif;
$copy-font:'Inter', sans-serif;
$primary-color:#303030; /* cinza escuro */ 
$text-color:gray; 
$orange-color:#CC6601;
$green-color:#2D903D;    

@mixin mq($smallerValue,$biggerValue) {
  @media (min-width: #{$smallerValue}) and (max-width: $biggerValue) {
    @content;
  }
}

.aside{
  margin:200px 0 200px 0;
      @include mq(0,600px){
            margin:50px auto;
       }
  .wrapper {
    max-width:1100px;
    margin:0 auto;
    font-size:0;
    .info-aside{
      margin: 0 auto;
      width: 80%;
      padding-top: 30px;
      border-top:#CC6601 2px solid;
      @include mq(0,600px){        
            max-width: 85%;                    
            width: 85%;
            display: block;
            margin:0 auto;
            padding:20px;
        }
        a{
          text-decoration: none;
          cursor: pointer;
        }
      .CT{
        display:block;
        margin:20px 0;
        font-size:40px;
        color:$primary-color;
        text-transform:uppercase;
        text-align: center;
        &:hover{
          color:$green-color;
          transition: all 0.25s ease 0s;
        }
        @include mq(0,600px){
			     padding:20px;
		    }
      }

   }
 }
}

     