$primary-font:'Inter', sans-serif;
$copy-font:'Inter', sans-serif;
$primary-color:#303030; /*#CC6601 - laranja */ /*#303030 - cinza escuro */
$text-color:gray;     /*#2D903D - verde */   /*#303030 - cinza escuro */

@mixin mq($smallerValue,$biggerValue) {
  @media (min-width: #{$smallerValue}) and (max-width: $biggerValue) {
    @content;
  }
}

html{
	height: 100%;
}
body {
  font-family: $primary-font;
  height:100%;
}

.hero{
    	width:100%;
      height: 100vh;
    	position: relative;
    	background-image: url("../img/undraw_super_thank_you_obwk.png");
    	background-repeat: no-repeat;
    	background-size: 50% ;
    	background-position: right;
    	@include mq(0,600px){
            height: 50%;
     }
	.intro{
	    position:absolute;
      top:40%;
      left:10%;
	    max-width:60%;
	    width:100%;
	  p{
      font-size:40px;   
      color:$primary-color;
      font-family:$primary-font;
      font-weight: 300;
      margin-bottom:60px;
      @include mq(0,600px){
        font-size: 18px;
     }
    }
  }
}